<!-- views/updateUser.ejs -->
<!DOCTYPE html>
<html>
   <head>
       <title><%= title %></title>
   </head>
   <body>
       <h1><%= title %></h1>
        <ul class="list">
            <% if (locals.results) {%>
            <% results.forEach(result => { %>
            <li class="userItem">
                <p>ID: <%= result.id %></p>
                <p>Username: <%= result.username %></p>
                <div class="buttonDiv">
                    <button type="button" class="button-22" ><a class="link" href="/<%= result.id %>/update">Update</a></button>
                    <!-- This time we're sending a POST request to our route, so we needa form -->
                    <form action="/<%= result.id %>/delete" method="POST" style="display: inline;">
                        <button type="submit" class="button-22" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                    </form>
                </div>
            </li>
        <% }); %>
    <% } %>
        </ul>
       <a href="/delete">Back to home</a>
   </body>
</html>